# IDE or vritual enviroments
.idea
*venv*
*.DS_Store

# folders with input videos
preped_videos
test_videos
input_videos

# Model file is too big for GitHub
yolov7-w6-pose.pt

# Jetson specifc package installation stuff
torchvision
*.whl

# Byte-complied / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
